[2014-11-25 15:33] galderz opened #2 "Handler kinded methods become curried functions"
Methods with kind=HANDLER (see codegen [readme](https://github.com/vert-x3/codegen/blob/master/README.md)) should be transformed into curried functions. Examples:

# Single-parameter non-void handlers
[code]
[code]

# Single-parameter void handlers
[code]
[code]

# Multi-parameter handlers
[code]
[code]

[2014-11-25 15:58] galderz opened #3 "Future kinded methods return Scala Future instances"
Methods with kind=FUTURE (see codegen [readme](https://github.com/vert-x3/codegen/blob/master/README.md)) should be remove `Handler<AsyncResult<T>>` as parameter, and instead return a Scala `Future[T]`. Examples:

[code]
[code]

As a result of this, methods like this:

[code]

will have no equivalent in the Scala language extension, because a blocking version of the method can easily be achieved b

[2014-12-15 11:19] Narigo opened #4 "Change codegen version to 3.0.0-SNAPSHOT"
Julien told me that we should change 1.0.0-SNAPSHOT to 3.0.0-SNAPSHOT.

[2015-01-09 23:52] cocodrino opened #5 "info about vertx and slick async (slick 3.0)"
Hi galder, the new slick version includes a thread pool allowing do async request, really cool, the problem is than this approach collide with vertx architecture, http://slick.typesafe.com/doc/3.0.0-M1/database.html#using-typesafe-config , I know than you did some researchs about how run futures inside vertx and I think than would be possible a similar approach with slick because it also has an As

[2015-01-14 07:43] galderz commented on #4
Yup

[2015-05-13 08:49] #2 closed

[2015-05-13 08:49] galderz commented on #2
Incorporated by https://github.com/vert-x3/vertx-lang-scala/pull/6

[2015-05-13 08:49] galderz commented on #3
Incorporated by https://github.com/vert-x3/vertx-lang-scala/pull/6

[2015-05-13 08:49] #3 closed

[2015-05-13 08:49] galderz commented on #4
Incorporated by https://github.com/vert-x3/vertx-lang-scala/pull/6

[2015-05-13 08:49] #4 closed

[2015-05-22 08:55] galderz commented on #5
Why does it collide exactly? Are you getting any errors/problems?

[2015-07-01 21:50] ar-zare opened #7 "I can't build the project. I get dependency errors."
Could not resolve dependencies for project io.vertx:vertx-lang-scala:jar:3.0.0-SNAPSHOT: The following artifacts could not be resolved: io.vertx:vertx-codegen:jar:sources:3.0.0-SNAPSHOT,

[2015-07-02 11:59] cescoffier commented on #7
You need to update to the 3.0.0 version (or 3.1.0-SNAPSHOT).

[2015-07-03 12:01] cescoffier commented on #7
Any feedback ?

[2015-07-03 15:39] ar-zare commented on #7
It still doesnt work.I will later send you more details. Thanks for your mail.Best regads,AlirezaVerzonden vanaf mijn Huawei mobiele telefoon-------- Oorspronkelijk bericht --------Onderwerp: Re: [vertx-lang-scala] I can't build the project. I get dependency errors. (#7)Van: Clement Escoffier Aan: vert-x3/vertx-lang-scala Cc: Alireza Zare Any feedback ?

—Reply to this email directly or view it on

[2015-07-14 17:09] #7 closed

[2016-10-10 06:36] cescoffier opened #11 "Add support for '.scala. file"
When deploying non-compiled scala verticles, the factory should compile them. This would improve the usage of Scala verticle when using the `vertx` CLI:

For instance:

[code]

[2016-11-08 14:42] honeyAndSw opened #17 "How could I pass a Scala handler to Scala Route?"
It looks like there's a mismatch between Route.handler interface and documentation.
According to the [vertx-web-scala document](https://github.com/vert-x3/vertx-lang-scala/blob/master/vertx-lang-scala-stack/vertx-web/src/main/asciidoc/scala/index.adoc), for example, StaticHandler could be used like this:
[code]

However, `StaticHandler.create()` returns `StaticHandler` object, which `Route.handler

[2016-11-08 14:56] gitplaneta commented on #17
I had a similar issue. I've ended up with just calling the .handler(_) method, like this:

`router.route("/static/*").handler(StaticHandler.create().handle(_))`

[2016-11-09 02:00] honeyAndSw commented on #17
@gitplaneta Better way than mine! Thanks for sharing 😄

[2016-11-15 01:19] honeyAndSw opened #19 "Supporting Scala 2.12 : Conflicting cross-version suffixes"
Updates for Scala 2.12 break module dependencies, resolved with conflicting cross-version suffixes.

[code]

It looks like sbt couldn't differentiate Scala library with _2.12 suffix and Java library without _2.12 suffix.

[2016-11-22 09:31] codepitbull commented on #17
Sorry for the late response.
I have focused on vertx-core and I am currently going through all the modules.
It will be possible to use StaticHandler directly after I refactored some of the Handler-generation code.
Stay tuned :)

[2016-11-22 09:34] codepitbull commented on #19
The current open PR will resolve this issue.
Cause of this issue is a name clash that causes sbt to fail.
Each module, vertx-web_2.12 in your case, also needs the corresponding java-version of the same module.
For sbt we now have vertx-web_2.12 and vertx-web visible. Sbt assumes that the later one needs a different Scala-version (<none>) and fails.
Our fix is to rename all the modules. Instead of

[2016-11-22 09:36] codepitbull commented on #11
The current version of scala-on-the-fly already supports this internally but I need to do some thorough testing to see if there are any classloader leaks before making it available.

[2016-11-22 09:36] codepitbull commented on #5
This issue is based on a version of vertx-lang-scala that doesn't exist any more.
Closing it.

[2016-11-22 09:36] #5 closed

[2016-11-24 09:42] codepitbull commented on #19
Fixed in current SNAPSHOTs.

[2016-11-24 09:42] #19 closed

[2016-11-24 09:43] codepitbull commented on #17
Fixed in current SNAPSHOTs.
See updated examples in https://github.com/codepitbull/vertx-scala-sbt

[2016-11-24 09:43] #17 closed

[2016-12-12 14:54] honeyAndSw opened #21 "Cannot download vertx-lang-scala_2.12"
Hi,
I found out downloading vertx-lang-scala fails. Not sure from when it started to happen. :(
[code]

[2016-12-19 13:54] honeyAndSw commented on #21
Downloads success now 👍

[2016-12-19 13:54] #21 closed

[2017-02-03 09:41] codepitbull opened #23 "Fix addInterceptor and removeInterceptor for Scala"
Left a TODO item in scala-methods.templ:
/*TODO: some methods lack necessary type infos for scala*/

Currently addInterceptor removeInterceptor both use a Handler<SendContext>. SendContext takes a type param which is left out in the Java-version.
I need a nice way for dealing with that.

[2017-02-26 07:18] codepitbull opened #25 "Update Jackson and include Jackson Scala to map from JSON to case class"
It would be very nice to deserialize JSON directly to a case class.
To achieve that we need to update Jackson to 2.8.7 and add the following dependency to vetx-lang-scala:

`"com.fasterxml.jackson.module"  %% "jackson-module-scala" % "2.8.7"`

We could then do the following:

`Json.mapper.registerModule(com.fasterxml.jackson.module.scala.DefaultScalaModule)`
`case class TestIt(name: String, value:

[2017-03-08 20:10] codepitbull opened #27 "Provide a stack.json file that resolves Scala"
We need a way to resolve the Scala-stack:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/vertx/13MJz1Ak_T4/i2ZsjfCBBQAJ

[2017-03-26 09:26] codepitbull opened #33 "Remove separation of Scala and Java build"
Looks like they finally fixed the issue I reported a while back (https://issues.scala-lang.org/browse/SI-9853)
To simplify the build we should get rid of the current two-step process of first building Java and then Scala.

[2017-03-27 08:46] #11 closed

[2017-04-02 04:24] leopard7777777 opened #34 "[3.4.1] vertx lost executeBlockingFuture method"
vertx doesn't have executeBlockingFuture.

Reference Document: http://vertx.io/docs/vertx-core/scala/
[code]

[2017-04-02 08:15] Narigo commented on #34
executeBlocking is not possible to do with a return value. I doubt that it
makes sense: It does something in a blocking context. You need to provide
it the "something".

Can you give me an example how you would write code with
executeBlockingFuture and how you would expect it to work then?

Am 02.04.2017 06:24 schrieb "leopard7777777" <notifications@github.com>:

[2017-04-02 09:17] leopard7777777 commented on #34
I find this method [executeBlockingFuture] on the Vert.x Core Manual.
But i can't find that in the source code. Is wrong on the Vert.x Core Manual?
For now,
[code]

So i use vertx.asJava.asInstanceOf[io.vertx.core.Vertx].executeBlockin instead of  vertx.executeBlockingFuture that shows on the Vert.x Core Manual

[2017-04-03 07:05] leopard7777777 opened #35 "[3.4.1] routingContext.statusCode can't get right statusCode"
[code]
is always 0
[code]
can be right
![p](https://cloud.githubusercontent.com/assets/11750796/24598593/c1440bb0-187e-11e7-91c6-ddd932c906e5.png)

[2017-04-06 07:22] codepitbull commented on #34
That's a documentation bug, sorry for that.
If you take a look at the signature of executeBlocking you will see that it returns a Future. That's how you get the result of your blocking computation.

[2017-04-06 07:24] codepitbull commented on #35
I will take a look at this tomorrow.

[2017-04-07 18:44] codepitbull commented on #35
I have a reproducer, will investigate where the code gets lost.

[2017-04-11 10:15] #35 closed

[2017-04-11 18:32] codepitbull commented on #34
Fixed and in 3.4.2-SNAPSHOT

[2017-04-11 18:32] #34 closed

[2017-04-18 12:52] leopard7777777 opened #37 "[3.4.1] ClusteredSessionStore serialize user error"
I use zookeeper.  (version:3.4.8-1)
make a class Users extends AbstractUser
[code]
there isn't exception, after i login .
but when i get user from session. all field are null.
{"code":1,"result":{"id":null,"username":null,"shopName":null,"active":true,"email":null,"phone":null,"lastConnect":null,"createDate":null,"groupIds":[],"endDate":null}}

then i change sessionStore and try login again
[code]

[2017-04-18 13:21] #37 closed

[2017-04-18 13:21] leopard7777777 commented on #37
sorry, i find the solution by writeToBuffer and readFromBuffer

[2017-04-20 06:26] zella opened #39 "Code executed on VertxExecutionContext not runs on event loop"
I expect, that future result, computated on global context will be called on event loop, as I clearly specify `executionContext` in `onSucsess`. But it calls on my computation context.

[code]

Perhaps, it because
https://github.com/vert-x3/vertx-lang-scala/blob/master/vertx-lang-scala/src/main/scala/io/vertx/lang/scala/VertxExecutionContext.scala#L35

don't calls on vertx context?

[2017-04-20 15:58] #33 closed

[2017-04-20 18:41] #39 closed

[2017-04-20 18:42] codepitbull commented on #39
You are right. I fixed it and it will be part of 3.4.2.
You can use it with the current SNAPSHOTS (should end up in our repos soon).

Thanks for reporting, especially with a reproducer!

[2017-04-20 18:43] codepitbull opened #40 "Update to Scala 2.12.2"
Scala 2.12.2 is out and we should update to that version.

[2017-04-20 19:01] #40 closed

[2017-04-21 09:28] codepitbull commented on #27
This is part of PR https://github.com/vert-x3/vertx-stack/pull/69

[2017-04-21 17:50] codepitbull commented on #27
Merged and available in 3.4.2-SNAPSHOT, will be part of 3.4.2

[2017-04-21 17:50] #27 closed

[2017-05-05 09:59] aesteve opened #41 "Improved vertx-web, as Akka-Http"
Hi @codepitbull and thanks for all your amazing work on vertx-lang-scala.

Something I've been looking for years with Vert.x is :
- the ability to reduce noisy code : checking parameter types (if it's not an Integer, return http 400, etc.)
- the ability to generate full Swagger (or else) documentation from the routing description
- having strongly typed information within `RoutingContext` like `co

[2017-05-05 11:13] pmlopes commented on #41
@aesteve Hold on with Swagger, we've just started with GSoC project in that area, we might have some heavy reactoring in vertx-web to easily expose the routes and their configs so swagger/raml/something else can generate their metadata.

[2017-05-05 21:21] codepitbull commented on #41
@aesteve thank you for the kind words :)
As @pmlopes mentioned there is already a Swagger-thing going on.
Your other suggestions sound pretty cool. How about collecting some real API examples in this issue so we could do a little PoC?
I am currently working on streams for vertx-lang-scala and it might be a good place to test your ideas :)

[2017-05-13 17:14] aesteve commented on #41
@pmlopes I thought the goal was to create routes from a swagger / raml description, not the other way around. But anyway, I'm rooting for a full refactor of vertx-web to improve it ! I know we're on the right track
@codepitbull [here](https://github.com/aesteve/vertx-calliope/blob/master/src/test/java/com/github/aesteve/vertx/web/dsl/examples/TodoBackendExample.java#L104-L110) you go for an exampl

[2017-05-13 19:07] pmlopes commented on #41
Hi @aesteve, @codepitbull there is some confusion here, the gsoc project hasn't officially started but @slinkydeveloper is already working on it. What was announced recently about swagger is a different project with some overlapping goals it is not what we were planning for GSoC.

If there are questions I think it is best if we include Francesco so we can help him making a great project.

[2017-05-14 09:35] slinkydeveloper commented on #41
Hi @aesteve, as you requested I slightly changed my project to add this features. Watch what i'm working on: [HTTPRequestValidationHandler](https://github.com/slinkydeveloper/vertx-web/blob/designdriven/vertx-web/src/main/java/io/vertx/ext/web/validation/HTTPRequestValidationHandler.java)
I created a [BaseValidationHandler](https://github.com/slinkydeveloper/vertx-web/blob/designdriven/vertx-web/s

[2017-05-14 14:56] aesteve commented on #41
Hello @slinkydeveloper

Very nice to see what you're going on with.
Also nice to see our projects could converge at some point without pursuing the exact same need.
Let's clarify our goals so that we're sure we all don't duplicate stuff, and work effectively :)

At the end of the day, I think an alternative routing approach could use your validators to bring even more expressiveness to vertx-web's

[2017-05-24 17:56] codepitbull opened #43 "ScalaVerticle.startFuture/stopFuture should return Future[_] instead of Future[Unit]"
ScalaVerticle.startFuture/stopFuture currently return Future[Unit] that in many cases forces users to do an awkward conversion.

[code]
By switching to Future[_] we can do
[code]

[2017-05-24 18:01] #43 closed

[2017-07-01 15:43] pabloromanelli opened #44 "[Web Client] Should not log error when using sendFuture"
When making a request with the web client like this:
[code]

If the server resets the connection, vertx logs the error:
[code]

Because I'm handling the error with retries, the error log is a bit misleading.

I found the actual log on ConnectionBase:
[code]

I don't know if this is related to vertx-lang-scala (may be the initialization order of handlers) or if it is something with vertx-web in jav

[2017-07-08 20:50] codepitbull commented on #44
This is a collision between scala-Futures and the way Vert.x handles exceptions internally.
Not sure if there is a good way to avoid the logged exception.
I will check.

[2017-07-14 08:08] codepitbull commented on #44
After some discussion on the mailinglist we came to the following decision:
We would recommend to disable logging for this case via the logging framework you are using as this isn't a bug.
Vert.x supports two ways of handling errors, one via an exceptionHandler and the other via the returned Future.
The problem is that there is no good way of knowing which one you picked so we have no way of telli

[2017-07-14 08:08] #44 closed

[2017-07-24 20:18] vietj opened #45 "Build error with current Vert.x Web"
the build actually fails now in Vert.x Web:

[code]

[2017-08-15 20:20] codepitbull commented on #45
This was fixed with the recent PR, sorry, forgot to close this bug.

[2017-08-15 20:20] #45 closed

[2017-08-30 05:21] ezequielventura opened #47 "Getting exception on eventbus sendFuture"
I'm running the following code, I only included the relevant code:

[code]

and I get the following error:

java.lang.NoSuchMethodException: io.vertx.scala.core.eventbus.Message$.apply(io.vertx.core.buffer.Buffer)
	at java.lang.Class.getMethod(Class.java:1786)
	at io.vertx.lang.scala.Converter$.toScala(Converter.scala:27)
	at io.vertx.scala.core.eventbus.Message.body(Message.scala:52)
	at com.anub

[2017-08-30 16:22] willisjtc opened #48 "Vertx RxScala Implementation"
Do you plan on providing an rxscala toolkit for vertx applications? If so, would you want some assistance?

[2017-08-31 20:32] tsegismont opened #49 "Scala class should implement Handler via mixin when it has super types"
Since eclipse/vert.x#2106 is merge, build fails because Scala class has the keyword `override` on method `handle` but it does extend `Handler`.

The template must be changed to implement `Handler` via mixin when Vert.x core class extends a another API type and implements `Handler`.

[2017-08-31 20:44] tsegismont opened #51 "Vert.x web does not compile because of bridge classes"
In https://github.com/vert-x3/vertx-web/commit/961c2ce bridge classes have been deprecated and updated to extend the `web-common` classes.

This [breaks](https://vertx.ci.cloudbees.com/view/vert.x-3/job/vert.x3-lang-scala/743/) the `lang-scala` build.

[2017-08-31 20:45] tsegismont commented on #51
@codepitbull can you please take a look? I'm not yet comfortable enough to try to fix that one. Thanks

[2017-09-04 13:36] ezequielventura commented on #47
I tried the send method that takes a handler and it worked, after that I tried to reproduce the exception in a simpler example, but I couldn't. So I rolled back the code, recompiled and I finally got it working. Sadly I couldn't find out what was wrong in the first place, but I'm quite sure it was my mistake.

[2017-09-04 13:36] #47 closed

[2017-09-05 13:41] willisjtc commented on #48
@vietj: Is this repo still active?

[2017-09-05 14:06] vietj commented on #48
@willisjtc yes it is

[2017-09-20 19:32] giampaolotrapasso opened #53 "Allow to deploy a ScalaVerticle instance directly"
Would be nice to extend `Vertx#deployVerticle` passing directly an instance of `ScalaVerticle` as is possible in the Java version. This would allow, for example, to do DI of already instantiated services passing them into the constructor of the new deployed verticle.

Is this possible or am I asking for something that breaks Vert.x philosophy?

btw, thanks @codepitbull for the great porting!

[2017-09-21 05:38] codepitbull commented on #51
Fixed with https://github.com/vert-x3/vertx-lang-scala/pull/52

[2017-09-21 05:39] #51 closed

[2017-09-21 05:40] codepitbull commented on #49
Fixed via https://github.com/vert-x3/vertx-lang-scala/pull/52

[2017-09-21 05:40] #49 closed

[2017-09-21 08:25] codepitbull commented on #48
I already played around with RxJava and here are my 2 cents:
Both RxJava and RxJava2 are very Javaish libraries. That's the reason RxScala has been created.
So for RxJava-integration I would recommend to not use RxJava directly but go to RxScala directly as it has a way more scalaish-API.
RxJava2 is a different beast. There is no RxScala2 and (judging from the age of the last comment in this issue

[2017-09-21 09:41] codepitbull commented on #53
Sounds like a good idea to me. The methods you mentioned that exist in the Java version are actually excluded from auto-generation so I need to provide something explicitly.

[2017-09-21 13:36] willisjtc commented on #48
Are you thinking of doing rxscala or rxjava2 first?

[2017-09-22 14:16] codepitbull commented on #48
The problem is: Both will take quite some work to get working.
My tendency would be to go with RxJava2 as it is completely based on Reactive Streams and because of reactive-streams-commons (https://github.com/reactor/reactive-streams-commons) which would give us a ton of stages right from the start.

I'd still be open to also do RxScala but we will have to maintain both.

[2017-10-07 02:22] willisjtc commented on #48
Any issues i could start working on?

[2017-10-08 19:47] codepitbull opened #54 "Create a vertx-lang-scala smoketest project"
The switch to Java 9 highlighted the need for a smoketest-project.
It should include several vertx-scala-modules and validate their functionality so we can see issues around modularity and dependencies.

[2017-10-08 19:52] codepitbull commented on #48
Right now I'd like to work on https://github.com/vert-x3/vertx-lang-scala/issues/54 to be better prepared for Java 9 and changes cutting across different modules.

I am currently spending some time working with RxJava 2 and trying to find a way to integrate it and get some reuse from vertx-rxjava2.

[2017-10-24 15:43] codepitbull commented on #53
I just added the methods you proposed in your PR. The ones using a Handler for completion are now replaced with methods returning a Future.
The changes will be available some time tonight with 3.5.1-SNAPSHOT.

Thanks for your work :)

[2017-10-24 15:43] #53 closed

[2017-11-18 07:31] gowravshekar opened #56 "Using Consul Service Discovery backend with vertx-lang-scala throws Bad Request"
I have included the following dependencies in my project.

[code]

Created `setBackendConfiguration` with host => localhost, port => 8500, dc => dc1. On publishing records, PUT request is sent into Consul.

`http: Request PUT /v1/agent/service/register (166.747µs)` No data is sent to it. Getting bad request because of this.

@codepitbull, Thanks for dropping the email.

[2017-12-21 07:51] mslinn opened #57 "Use Value Objects"
In other words, domain objects should extend `AnyVal`. Scala value objects have no runtime cost (for example, no boxing or unboxing) when used as is currently done in `vertx-lang-scala`.

`io.vertx.scala.ext.web.handler.BodyHandler` is an example. This type should be implemented as a case class with a public property, and the property should probably be of type `io.vertx.ext.web.handler.BodyHandle

[2017-12-21 18:55] mslinn opened #58 "Update docs to mention PKCS12 instead of JCEKS"
The [docs show examples](https://github.com/vert-x3/vertx-lang-scala/blob/master/vertx-lang-scala-stack/vertx-auth-jwt/src/main/asciidoc/scala/index.adoc#generate-a-new-keystore-file) of how to generate keystore files. Running the suggested `keytool` commands yields the following warning:

[code]

Seems that modifying the examples to follow the advice in the warning would be a good idea. This woul

[2017-12-21 21:35] codepitbull commented on #58
This is currently being discussed in the dev-mailinglist.
The lang-implementations themselves can't cahnge that as we relly on what is provided by vertx-core, both code and documentation-wise (docs are also generated from the vert.x base docs).

See the discussion here: https://mail.google.com/mail/u/0/#label/vertx-dev/160571b91832215a

I will keep this issue open for tracking purposes.

[2017-12-21 21:38] codepitbull commented on #57
Yes, this is still a sore point.
Changing it involves some deeper restructuring of the way the adapters are generated.
The crux is that there several places during code-generation where I have to rely on conventions rather than actual type information.
The recent additions in the codegen-part of Vert.x might provide this information and I will hopefully be able to resolve those.
I will give it ano

[2017-12-22 04:30] mslinn opened #59 "Add Support For the Twirl Template Engine"
Many Scala users will have prior experience with [Twirl](https://github.com/playframework/twirl), and those with existing Twirl templates would be glad to know that those templates could be used on Vert.x with little or no changes.

[2017-12-22 17:46] mslinn commented on #58
@codepitbull The link you gave is to your private mailbox. If [this](https://groups.google.com/forum/#!topic/vertx-dev/SHXCvf-lass) is the link you meant to share, it does not discuss PKCS12 and does not mention that Java keystores do not support PKCS12. The link I provided shows that Oracle is essentially saying that the Java keytool program is dead. I don't think the participants on the discussi

[2017-12-22 19:38] codepitbull commented on #58
You are right. Still, vertx-lang-scala is thew wrong project to file the issue with.
I took the freedom and copied your initial comment and created an issue against vertx-web

https://github.com/vert-x3/vertx-web/issues/792

[2017-12-22 19:38] #58 closed

[2017-12-22 19:42] codepitbull commented on #59
Good recommendation. Adding this would definitely be nice.
I won't have time to do it in the forseeable future (current focus is on reactive streams and providing a small streaming library).

As always: PRs are very welcome!

[2017-12-22 19:42] mslinn commented on #58
Thank you!

[2017-12-22 19:59] codepitbull commented on #57
Got some time to look at your recommendation.
The problem with your approach is that I am losing important type information.
The BodyHandler is supposed to be used as a Handler on the Vertx-Web-Router. Using AnyVal gets rid of that information and would require to make the Router-API less explicit by making it accept an AnyVal.

[2017-12-22 20:04] mslinn commented on #57
Extending `AnyVa`l does not mean that one would consider `AnyVal` as superclass. Instead, Scala uses `AnyVal` to indicate that the derived class should be considered as an ephemeral value object. [Here is some dated information](https://docs.scala-lang.org/overviews/core/value-classes.html). [My Internediate Scala Course](https://www.scalacourses.com/student/showLecture/72) goes into this in detai

[2018-01-07 20:23] codepitbull commented on #57
Sorry for the delay.
You are obviously right. Have been using that pattern with type-classes, never realizing the allocation impact (my bad for not listening and simply copying the pattern ...).
I started work on using this by creating package objects and implicit classes which should make it easily usable.
I hit some limitations in our codegen which I fixed. I am currently waiting for the PR (htt

[2018-01-08 13:58] codepitbull opened #60 "Make registerCodec available"
registerCodec is marked @GenIgnore and therefore not generated for the Scala-API.
It should still be visible as registering a codec is a pretty common thing.

[2018-01-17 04:54] k33g opened #61 "stopFuture() not triggered"
👋 Hello 🌍
This is my baby steps with Scala and Vert.x

I'm trying to create a microservice sample scala project "from scratch" with the Redis backend
(you can read the code here https://github.com/botsgarden/b.nlp/blob/master/src/main/scala/brain/BeeNlp.scala)

Almost all is ok:

I deploy the ScalaVerticle with a companion object:

[code]

this is my verticle:

[code]

I would like to unpublish th

[2018-01-17 20:25] codepitbull opened #62 "Missing @Nullable annotations in MongoService"
The MongoService lacks several @Nullable annotations which breaks the vertx-lang-scala build (params including @Nullable will be wrappend in scala.Options, those without won't).
I wanted to provide a PR but can't seem to fix it.

Here an example:

Method in MongoService:

`MongoService saveWithOptions(String collection, JsonObject document, WriteOption writeOption, Handler<AsyncResult<String>> res

[2018-01-17 20:30] codepitbull commented on #62
I am stupid ...

[2018-01-17 20:30] #62 closed

[2018-01-22 09:18] codepitbull commented on #61
I finally got some time yesterday to look at the issue.
First: It's not a Vert.x-Bug.
The problem lies within the way you use the Vertx-instance.
But first about the solution, add the following lines to the end BeeSlack (the part that extends App):

[code]

**Now for the reason:**
You are using a Vertx-instance you created yourself, those don't register a shutdown-hook (something io.vertx.core.Lau

[2018-01-22 09:18] #61 closed

[2018-01-22 11:28] k33g commented on #61
@codepitbull thank you very much for these explanations 🙂

[2018-01-22 13:05] #60 closed

[2018-01-22 13:05] #56 closed

[2018-01-22 13:05] #23 closed

[2018-01-22 15:53] #25 closed

[2018-01-26 21:41] codepitbull commented on #57
To keep everyone posted on this:
I started to work on a new version using implicit value classes.
The (very earyl) version is here:
https://github.com/codepitbull/vertx-lang-scala-vc
It's gonna take a while until work is even close to be being finalized as I have to rewrite most of what I've done so far.

[2018-02-02 08:34] blueberrynotblue opened #63 "VertxOptions not having ***setClusterManager*** function"
I read official doc about vertx-hazelcast in which code written by java.
I found io.vertx.scala.core.VertxOptions not having **setClusterManager** function
[code]

I think vertx-hazelcast official doc should be more detailed.

[2018-02-02 23:03] codepitbull commented on #63
Looks like a problem in vertx-codegen. I opened an issue there (https://github.com/vert-x3/vertx-codegen/issues/157) but I am not sure we will be able to resolve it for 3.5.1

[2018-02-06 03:10] blueberrynotblue commented on #63
Any idea to work this around?

[2018-02-06 19:31] codepitbull commented on #63
As a workaround you can grab the underlyikng Java-object and invokle the method directly:
`VertxOptions().asJava.setClusterManager(...)`

[2018-02-20 19:29] gowravshekar opened #64 "Getting error in building fat jar after upgrading to 3.5.1"
Getting the below error on using sbt assembly.
[code]

[2018-02-20 21:21] codepitbull commented on #64
Ok, didn't see these new files.

open **project/Build.scala** in your project and look for **assemblyMergeStrategy in assembly**.
At the top of the list add the following strategy:
`case PathList("vertx-service-discovery-js", xs @ _*) => MergeStrategy.first`

[2018-02-20 22:24] #64 closed

[2018-03-01 09:29] blueberrynotblue opened #65 "ClassCastException when using eventbus sockjs bridge"
My verticle:
[code]
In html head:
[code]
My js script:
[code]
Eventbus was succesfully opened. **eb.send** will cause exception on backend:
[code]

[2018-03-02 06:25] blueberrynotblue commented on #65
change HttpVerticle into java verticle, then it works fine.

[2018-03-12 09:14] lecogiteur opened #66 "Possible regression on JsonObject in version 3.5.1"
Hi,

When I do

[code]

I have this error (only in version 3.5.1). Need to deploy before at least a verticle (JsonInit is call in VerticleExecutionContext)

[code]

It's due to we register now with io.vertx.lang.scala.JsonInit the scala module in ObjectMapper. So now array is sequence and not an java.util.ArrayList.

I have found a workaround

[code]

But I think It's a regression because there is

[2018-03-14 23:58] DavidGregory084 commented on #48
@codepitbull have you considered using [Monix](https://monix.io/)? It's Reactive Streams compliant and has an idiomatic Scala API.

Wrapping AsyncResult handlers is as simple as this:

[code]

or to convert ReadStream to an Observable:

[code]

[2018-03-18 20:05] codepitbull commented on #65
This looks like to have the same cause as #66. If so it is a regression introduced with how I handle the refgistration of custom Scala-serializers with the new Jackson version in 3.5.1.

[2018-03-20 06:54] codepitbull commented on #48
That's very nice. I looked at Monix for quite a while ago for another project.
Completely forgot about it.
I hope it's ok if I steal your code snippet :)

[2018-03-20 10:55] DavidGregory084 commented on #48
Yep, sure, I've actually been messing around with generating wrapper APIs to use with Monix [here](https://github.com/DavidGregory084/vertices/tree/master/core/src/main/scala/vertices) if you want to see what this might look like

[2018-04-10 06:44] blueberrynotblue opened #67 "blockingFunction never completes"
##scalaVersion = "2.12.4"
##VertxVersion = "3.5.1"

**when contains blocking code:**

[code]

**when blocking code removed, every thing fine**

[code]

[2018-04-11 02:40] blueberrynotblue commented on #67
@codepitbull Thx, everything work as expected.
I was using ScalaTest running codes above. Vertx shut down before the blocking api completed, so the problem occured.

[2018-04-11 02:40] #67 closed

[2018-04-11 08:55] codepitbull commented on #66
Fix will be part of 3.5.2

[2018-04-11 08:55] codepitbull commented on #65
Fix will be part of 3.5.2

[2018-04-11 08:59] blueberrynotblue commented on #66
@codepitbull  Will the fat-jar size problem be solved in 3.5.2?

[2018-04-11 12:40] codepitbull commented on #66
@blueberrynotblue I can't find the issue for that in vertx-lang-scala. Did you open it against one of the other vert.x projects?

[2018-04-11 19:58] codepitbull opened #68 "Reduce size of fat-jars"
A basic fat-jar created using the g8-template has a size of 27 MB.
We should check how this size can be reduced.

[2018-04-11 20:46] codepitbull commented on #68
SIze is down to 15 MB, not sure how to scrape off more.

[2018-04-11 20:56] codepitbull commented on #66
I opened a new issue (https://github.com/vert-x3/vertx-lang-scala/issues/68). This won't make it into 3.5.2 as it isn't really a bug and needs more testing. Current master reduced size by almost 50%.

[2018-04-12 07:32] codepitbull commented on #48
@DavidGregory084 I've been working on and off on a value classes based approach to integrating Vert.x and Scala. The current (working) results are here https://github.com/codepitbull/vertx-lang-scala-vc
It also contains adapters for RxJava2, some small experiments of doing streams myself and it might be a good place to add Monix support.

[2018-04-25 02:51] blueberrynotblue commented on #65
@codepitbull Hi~
 When cluster member removed, exception occured.
![Image](http://m.qpic.cn/psb?/63a6f161-f590-44a9-909d-a6040fc82d3e/0ml5PcpwSKfPBjzTHUaLswtzCwTK0GySQqj7u9eZM8k!/b/dEMBAAAAAAAA&bo=1wQGBAAAAAADB*M!&rf=viewer_4)
Is this same cause as above?

[2018-06-10 13:25] kajmagnus opened #69 "Benchmarking Vert.x Scala vs Java?"
There's Web Framework Benchmarks at `techempower.com`:

https://www.techempower.com/benchmarks/#section=data-r16
https://news.ycombinator.com/item?id=17254152

and Vert.x is super fast :- )

What about constructing and submitting benchmarks for Vert.x + Scala? I think it'd be really interesting to see how fast Scala is currently, and ... maybe if it's slower than Java, that indicates there's lots

[2018-06-11 08:31] vietj commented on #69
@kajmagnus are you interested in contributing this in the community ?

[2018-06-13 05:19] codepitbull commented on #69
Benchmarking the different language implementation sounds like a great idea.
It's something I have been thinking about for quite a while but I am running into the same problem: time.
I'd be happily supporting such an effort nbut won't be able to pull it off alone since I maintiain vertx-lang-scala in my freetime.

[2018-06-13 05:19] codepitbull commented on #69
I will keep this issue open as a reminder and a possible entry point for others to get started on this topic.

[2018-06-13 06:03] kajmagnus commented on #69
codepitbull: Ok :- )

@vietj  I'm too short of time (because of working in a small startup), otherwise seems like an interesting thing to do

[2018-07-24 06:45] codepitbull opened #72 "Remove MVEL for generating classes"
MVEL is broken for Java 10 onwards so we have to port the code-generation part.

See https://github.com/vert-x3/issues/issues/367

[2018-07-25 06:35] lecogiteur opened #73 "Register a codec"
Hi,

It seems we can't add a codec from Vert.x Scala API. We need to retrieve Vert.x Java API in order to add a codec.
I saw the issue #60 is closed but it seems it doesn't do it.

My version 3.5.3

[2018-08-12 20:55] codepitbull commented on #73
Sorry for the delay. I was working on the new generator for vertx-lang-scala.

You are absolutely right, this is a regression.

It is fixed in the new generator which will be merged into the current master soon.
This will then be released together with the next vert.x-release.
Thanks for reporting!

[2018-08-12 20:56] #66 closed

[2018-08-12 20:56] #68 closed

[2018-08-12 21:03] codepitbull commented on #72
Part of https://github.com/vert-x3/vertx-lang-scala/pull/74

[2018-08-12 21:03] #72 closed

[2018-10-01 18:27] #73 closed

[2018-10-08 19:48] inmyth opened #75 "Confusion between scala Future and vertx Future"
I notice that in some cases Futures from `scala.concurrent.Future` and `io.vertx.scala.Future` have been confused with each other.
One example is MessageConsumer (used primarily by Handler) and Verticle's startFuture (addressed by #43 ) which both return `scala.concurrent.Future`  whereas CompositeFuture takes in `io.vertx.scala.Future`. As such CompositeFeature cannot be used to group and asynchr

[2018-10-09 09:30] codepitbull commented on #75
They are not confused, it was a deliberate choice to do so.

`CompositeFuture` and `io.vertx.Future` are left overs from the beginning of Vert.x 3. It was initially developed on JDK 1.7 so these classes were added to deal with the lack of a CompletableFuture.
They are in there to stay compatible with other parts of Vert.x which might not have switched over to other means.

In Scala we already have

[2018-10-09 09:30] #75 closed

[2018-11-08 09:18] inmyth opened #76 "vertx-web blockingHandler or Scala Future ?"
vertx-web instruction says that for blocking operation we need to use blockingHandler (to avoid blocking the main event loop). Does this requirement apply on Future ? For example, is the code below still considered blocking ?

    router.get("/a").handler(ctx => {
      val f = for {
        f1 <- ...
        f2 <- ...
      } yield f2
      f onComplete {
         case Success(b) => ctx.response.

[2018-11-08 12:10] vietj opened #77 "Remove unused imports warning during build"
The current scala compilation emits lot of unused imports during the build. Such warnings are not really useful and they produce lot of verbosity, raising issues with Travis CI.

[2018-11-08 12:11] vietj commented on #77
@codepitbull is that something you can handle soon ?

[2018-11-08 13:23] vietj opened #78 "Nullable regression in codegen TCK"
[code]

[2018-11-10 09:25] #76 closed, assigned to nobody

[2018-11-11 20:58] codepitbull commented on #76
Sorry for the late replay but I still think a few things should be cleared up.
First of all:
There is am implict [ExcutionContext](https://github.com/vert-x3/vertx-lang-scala/blob/master/vertx-lang-scala/src/main/scala/io/vertx/lang/scala/VertxExecutionContext.scala) inside a Verticle.
This is used to reschedule work on the Event Loop, work  that is supposed to be non blocking.
Vert.x has the noti

[2018-11-11 20:59] codepitbull commented on #77
Not soon but in the longer run.
It's not that easy to get rid of those.
I will have a look when I get some time.

[2018-11-11 21:00] codepitbull commented on #78
Will take care of it.

[2018-11-11 21:29] vietj commented on #77
actually I meant that the compiler does not emit them :-)

[2019-02-08 14:15] deblockt opened #79 "erreur when reply with `HttpResponse` with circuit breaker"
When we use a circuit breaker with web-client we have this exception:

[code]

The code is the following:

[code]

To fix that, we have encapsulated the `HttpResource` on a custom class `Wrapper`.

It seem that this failure occurs because `HttpResponse.apply` need an implicit type `scala.reflect.runtime.universe.TypeTag`, and the method `toScala` doesn't support that.

[2019-03-05 17:05] tsegismont opened #80 "Use the internal logging API"
In Vert.x 4 the current `Logger` API is deprecated.

[2019-03-08 07:45] codepitbull commented on #80
Vert.x 4 will receive a new Scala-implementation.

[2019-05-09 16:54] sumnulu opened #81 "Handlers cannot be unset"
Example:
`response.handler(null)`  will not work as intended (to release the reference) because scala api will wrap it with a new function

 io.vertx.scala.core.http.HttpClientResponse#handler
[code]

Maybe null application to handler methods could. be forwarded directly to the  java.api without wrapping.

Nulls are not idiomatic in scala but I think this is fine in this case (there are no way to

[2019-05-10 12:48] codepitbull commented on #81
Ah, good catch!
I will take care of this.

[2019-05-28 07:51] codepitbull commented on #80
I am closing this, 3.8 will stay with this implementation.
There is already a new version for 4 available.

[2019-05-28 07:51] #80 closed

[2019-05-28 07:54] codepitbull commented on #57
There is a new preview version of the Scala integration.
It uses Value Objects and is available here:
https://github.com/vert-x3/vertx-lang-scala/tree/4.0

Closing this as this won't be backported to Vert.x 3.

[2019-05-28 07:54] #57 closed

[2019-05-28 07:56] #65 closed

[2019-05-28 07:56] codepitbull commented on #81
I have just merged a fix for this.
Will be part of 3.8.

[2019-05-28 07:56] #81 closed

[2019-05-28 07:57] codepitbull commented on #78
All clear in 3.x branches.
4.0 Branch is currently  a preview and not affected by this.

[2019-05-28 07:57] #78 closed

[2019-05-28 08:17] codepitbull commented on #77
I ahve reduced the WARNING noise as much as possible, sadly the Scalac won't disable all of them and it doesn't look it will do so in the near future.

[2019-05-28 08:17] #77 closed

[2019-05-28 08:18] codepitbull commented on #69
I will be revisiting this for Vert.x 4.

[2019-05-28 08:19] codepitbull commented on #63
Closing since there is a usable workaround for 3.x and because this issue isn't showing up in the new implementation for 4.

[2019-05-28 08:19] #63 closed

[2019-05-28 08:20] #54 closed

[2019-06-16 13:54] miteshaghera opened #83 "Support for scala 2.13"
https://github.com/scala/scala/releases/tag/v2.13.0

[2019-07-02 08:04] NikolajLeischner commented on #69
FYI, I took the liberty of porting the Java version of the Techempower Vert.x benchmark to Scala.

https://www.techempower.com/benchmarks/#section=test&runid=668c43a2-5caa-4075-91ab-8ee9537b5dec
https://github.com/TechEmpower/FrameworkBenchmarks/tree/master/frameworks/Scala/vertx-web-scala

The code for the database queries is quite close to the Java version since I didn't take the time to wrap th

[2019-07-02 15:07] NikolajLeischner commented on #59
Not sure if it did in December 2017, but by now Twirl already works out of the box with Vert.x, see here: https://github.com/vert-x3/vertx-lang-scala/issues/69#issuecomment-507567743

If anything, the fact that Twirl can be used could be added to the documentation.

[2019-07-02 16:55] codepitbull commented on #69
You just became my personal hero :) Thanks for the effort!

[2019-07-03 03:50] kajmagnus commented on #69
Wow this is amazing: https://www.techempower.com/benchmarks/#section=test&runid=668c43a2-5caa-4075-91ab-8ee9537b5dec&hw=ph&test=query  — vertx-web-scala is number 4, in the Multiple Queries test (which in my case is the one closest to "reality" I think ... had I been using Vert.x not Play Fmw).

Thanks @NikolajLeischner  for porting.

[2019-07-03 06:46] NikolajLeischner commented on #69
@kajmagnus By that I mean how the database access works code-wise. It uses callbacks and actual while-loops, which isn't how one wants Scala code to look like normally :)

[2019-07-04 08:26] codepitbull commented on #69
This is great and also shows areas where vertx-scala should be improved.
The pgClient is something I haven't touched so far because ... well, I simply didn't think about it.
There is a new version of vertx-scala in the works (https://github.com/vert-x3/vertx-lang-scala/tree/4.0) which is completely based on extension methods.
This should bring down the allocation rate a lot.
I should tackle the re

[2019-07-04 11:04] vietj commented on #69
in Vert.x 3.8 and 4.0 the PG client is part of the stack as SQL client (and provides support for MySQL as well).

[2019-07-04 11:13] miteshaghera commented on #83
I had done some initial work [here](https://github.com/miteshaghera/vertx-lang-scala/tree/scala_2.13). If anyone can take a loot at this.

Still build is failing because one [test](https://github.com/miteshaghera/vertx-lang-scala/blob/fe5e141a1ebbcabef5a6509c3979409ae9a3ea26/vertx-lang-scala/src/test/scala/io/vertx/lang/scala/tck/CollectionTCKTest.scala#L122) is not being passed.

[2019-07-04 20:01] codepitbull commented on #83
Hey, so I played around with it tonight and got it working:
https://github.com/vert-x3/vertx-lang-scala/tree/3.8_2.13

I am currently discussing with the other maintainers how we are going to ship it since we will have to support/release two version from now on: 2.12 and 2.13.

If you are interested in work on vertx-lang-scala 4 then you can check here:
https://github.com/vert-x3/vertx-lang-scala/

[2019-07-05 04:55] miteshaghera commented on #83
Thanks @codepitbull, I'll take a look at vert-lang-scala 4.

[2019-08-21 13:20] vietj opened #84 "Generation issue with classes having the same simple name."
Recently a change was done in Vert.x stack to copy the Cookie feature from vertx-web to vertx-core (https://github.com/eclipse-vertx/vert.x/issues/3050) .

This raise an issue in vertx-lang-scala that is not able to handle two classes having the same simple name.

Here is the compiler log:

[code]

[2019-08-27 23:11] codepitbull commented on #84
Fixed with last commit.

[2019-08-27 23:11] #84 closed

[2019-10-29 14:29] swetharamaiah opened #85 "sbt - Support for including resources to use CommandFactory"
When trying to run a vertx app as a fat jar using `java -jar vertx-app.jar` command, following error occurs:
[code]
Based on the comments in https://groups.google.com/forum/#!topic/vertx/CMgv1gSpa1s, it appears that we need to add a transformer to include resources like the `CommmandFactory` and `VerticleFactory` using **maven shade plugin** which appears to be missing when using `sbt`.

[2019-11-04 14:52] codepitbull commented on #85
I will take care of it.

[2019-11-07 22:24] codepitbull commented on #85
I just tested using the g8-project I created.
Please use the following to create a project:
`sbt new vert-x3/vertx-scala.g8`

Afterwards run `sbt assembly` in the newly created project.

You will then have `target/scala-2.12/<projectname>assembly-0.1.0-SNAPSHOT.jar` which works perfectly fine when executed using `javae -jar`

[2020-01-03 01:30] UkonnRa opened #87 "Integrate more into (functional) Scala environment"
Hi, I am a big fan of Vertx and Scala, so I am very glad to see vertx-scala is growing better and better. While using vertx-scala, there are some annoying problems.

### Common Scala

#### Type issue

Now vertx-scala use original java types instead of their scala alternatives, like [the example](https://github.com/vert-x3/vertx-lang-scala/blob/72ee3446e141cf73194c0fe00acb19d9e6030925/vertx-lang-sc

[2020-01-03 01:38] UkonnRa opened #88 "Lack of `Reactive PostgreSQL client`"
Is [Reactive PostgreSQL client](https://vertx.io/docs/vertx-pg-client/java/) not usable is vertx-scala?

[2020-01-13 20:31] codepitbull commented on #87
Thank you for your feedback :)

### Type issue
I am very well aware of this. The vertx-scala for Vert.x 3 is a full wrapper around VErt.x-APIs.
That allowed me to use native Scala-types but introduced a severe issue:
Mapping can get very expensive:
- Every instance requires an instance of the mapping class
- Mapping back and forth between Java and Scala-types gets very expensive on the GC side

Is

[2020-01-13 20:57] codepitbull commented on #88
It will be soon.
This slipped through the cracks while implementing the new stuff.
I will add this after vertx-scala is up to date with the current changes to vertx.

[2020-01-16 13:05] codepitbull commented on #88
It's now in :) (together with several other ones I missed)
https://github.com/vert-x3/vertx-lang-scala/commit /fcbb9a4f9c902a0b8d20bacce5fb8a566a08b125#diff-18acc0ee1bb1cc1a9f96c9aa9d3cf6a9

[2020-01-16 13:05] #88 closed

[2020-01-21 00:31] UkonnRa commented on #87
**Type Issue**

[As a brief discussion in SO](https://stackoverflow.com/q/59827649/6048574), converting from Scala Collections/primitive types to Java alternatives will not cause performance issue. But you may try more situations on Vertx ;-)

[2020-03-02 20:33] codepitbull commented on #87
This is a very interesting link.
My observations were that deep forward/backward mapping leads to rather excessive allocations.
Vert.x supports nested structures inside collections which leads to a lot of allocations.
This isn't necessarily a speed problem but can impact the application with excessive garbage collection.
Also: The mapping code gets VERY complicated, especially when things are hand

[2020-03-11 21:15] DavidGregory084 commented on #48
@codepitbull I finally got back to experimenting with this idea again here: https://github.com/DavidGregory084/vertices

It uses the value classes / implicit class based approach just like your repo. One thing that is a little awkward is that you can't add extension methods to Java so that they are callable like static methods, the way that you can with scala companion objects.

I have used the ve

[2020-03-11 21:28] DavidGregory084 commented on #87
@UkonnRa I have experimented with integrating Vert.x into [Monix](https://github.com/monix/monix) if that is useful to you: https://github.com/DavidGregory084/vertices

I have added [some conversions](https://github.com/DavidGregory084/vertices/blob/master/codegen/src/vertices/codegen/Codegen.scala#L115) to the generated code, but at the moment it's limited to converting Java's boxed primitives to

[2020-03-11 21:29] DavidGregory084 commented on #87
I've considered trying the same approach with cats-effect but I don't know it well and don't need the flexibility personally. I could be convinced to try though.

[2020-03-12 05:55] UkonnRa commented on #87
@DavidGregory084 WOW, that IS REALLY what I want! I may try to look at this project. What's the performance comparing with the official Java/Scala API?

[2020-03-12 19:59] DavidGregory084 commented on #87
@UkonnRa I haven't done performance testing as I'm not using this in performance-critial code or anything that runs in production. I expect it to be competitive with scala.concurrent.Future because Monix Task generally has better performance (see e.g. https://github.com/ThoughtWorksInc/Dsl.scala/wiki/Benchmarks:-Dsl.scala-vs-Monix-vs-Cats-Effect-vs-Scalaz-Concurrent-vs-Scala-Async-vs-Scala-Continu

[2020-03-26 22:49] codepitbull commented on #87
HEy everyone. Sorry for the long delay but I have rethought a lot of what I was doing in the meantime.
I have just megred a hugh PR I built over the course of the past 2 weeks.
It completely removes Freemarker since it wasn't adding any value and also readds mapping of collections.
It's still not 100% done (generated docs still suck) but I willrefine it more in the comming weeks.

Maybe this can b

[2020-04-03 23:45] #85 closed

[2020-04-09 16:23] codepitbull commented on #48
@DavidGregory084 you might want to check the current state of vertx-lang-scala. The master branch now contains a full implementation of my approach and you might be able to grab a lot of stuff from there since I already get all the methods from the Java-API for conversion.
If it helps, I could extract a lot of the conversion code if you assist me so we could create a shared codebase to handle your

[2020-06-18 14:34] leosilvadev commented on #83
@codepitbull I am a bit lost on the roadmap for scala support, are there changes going on for vert.x 4? How can I keep up to date with it? Is help needed?

[2020-06-25 07:14] aesteve opened #90 "Newly g8 generated project doesn't compile: getNowFuture does not exist"
### Questions

Fresh g8 installation => compilation fails
[code]

### Version

Latest g8 template version, just running `sbt test`.

### Context

[code]

### Do you have a reproducer?

Here's the generated project for reference: https://github.com/aesteve/vertx-scala-g8-reproducer
(if I try to makes fixes, I'll do this on other branches, to let the main branch reflect the project as it's been gene

[2020-06-25 07:40] aesteve commented on #90
To fix the compilation issues:
https://github.com/aesteve/vertx-scala-g8-reproducer/compare/feat/try-fix-compile

(I'll try to submit a PR here)

[2020-06-25 08:10] aesteve commented on #90
+HttpVerticleSpec is broken (because of changes to the HttpClient futurised API), giving it a look.

[2020-06-25 08:42] aesteve commented on #90
Docker build => ✅

[2020-06-25 09:04] aesteve commented on #90
I can submit a first pull request for the g8 template with the changes listed here. The only annoying thing is the replacement of HttpClient by WebClient, let me know what you think about it @codepitbull . If you agree, I'll do this.

[2020-06-25 11:27] aesteve commented on #90
Dotty version [here](https://github.com/aesteve/vertx-scala-dotty) (with a list of changes needed, work in progress)

[2020-06-25 11:30] aesteve commented on #41
People interested in this may (a functional way to describe routes and endpoints) may be interested in [Tapir](https://github.com/softwaremill/tapir) which now supports Vert.x as a server backend.

[2020-06-25 13:51] aesteve commented on #90
Replacing custom Docker plugin by JIB's plugin: [here](https://github.com/aesteve/vertx-scala-g8-reproducer/compare/feat/try-fix-compile...feat/use-jib)

[2020-06-27 20:08] codepitbull commented on #83
@leosilvadev I wrote a blog post on this a while ago:
https://vertx.io/blog/eclipse-vert-x-for-scala-next-steps/

The current master already has the new implementation of vertx-lang-scala so you can try iot out right now (input would be very welcome).

We are currently in the final stages, preparing for Vert.x 4.

The documentation is building but I am waiting until the modules are all fixed so I

[2020-06-27 20:09] codepitbull commented on #83
And on a side note: Thanks to @aesteve we are also woring on Scala 3 (Dotty) support.
I am not yet sure when and how this will be available but it will be based on the current implementation.

[2020-10-07 02:29] cinterloper opened #94 "Cannot send event bus message between 2 verticles"
### Version

version: 3.9.1

### Context

I created a project that spawns 2 verticles, an eventbus producer and an eventbus consumer

A reproducer can be found here: https://github.com/cinterloper/vertx_scala_eb_repro
if you run this with sbt fgRun , it will produce console logs that indicate messages are being sent, but no messages indicating they are being received

[2020-10-15 19:12] codepitbull commented on #94
Hey, I just got asround to take a look:

Please use the following, more scalaish-way of registering the handler.
[code]

I tested it with your project and that does the trick :)

[2020-10-15 19:12] #94 closed

[2020-10-15 20:16] tsegismont commented on #94
Thanks Jochen.

There is also this question on the forum
https://groups.google.com/g/vertx/c/4m5FpoRDyLQ/m/gvWfJ6ncDQAJ

Would you mind taking a look?

[2020-12-17 12:44] leosilvadev commented on #83
Hello guys, sorry to ping here again, I just wonder if there is any update about the topic since Vert.x 4 was released
Is there any help needed?

[2020-12-17 13:23] aesteve commented on #83
I tried to give it a look this week-end but faced codegen issues, I don't know how to tackle these unfortunately :(

[2020-12-17 14:12] leosilvadev commented on #83
@aesteve do you have it on some specific branch I could take a look too?

[2020-12-17 14:24] aesteve commented on #83
No I just forked this repo, switched to the 4.0 branch, and tried to update poms to use 4.0.0.
(unfortunately I gave up and did not push my experiments)
I made some tiny adjustments to codegen (which are discussed on Vert.x discord, channel `vertx-scala-lang`) but codegen crashed at build time and I'm stuck here.

[2021-01-22 10:12] the-ram opened #95 "Changes in upstream vertx dependencies causing failure in vertx-lang-scala_2.13"
Hi!

I think vertx dependencies have been changed upstream from 4.0.0-SNAPSHOT to 4.0.0.
Since the library depends on the 4.0.0-SNAPSHOT , this fails.

[code]

I tried to build this with 4.0.0 , and ended in

[code]

[2021-06-28 15:54] GavinRay97 opened #98 "How to consume the current package?"
Hello, feel free to close this if you think it's not worth the time to answer -- but I'm new to the JVM ecosystem and I don't see the `4.x` snapshot builds published anywhere online.

I couldn't figure out how to install/consume them with SBT, so what I have done in the meantime is:
- Clone and manually copied everything into my own project
- Then deleted all of the codegen-ed modules that I don't

[2021-07-06 17:19] #98 closed

[2021-07-06 17:20] GavinRay97 commented on #98
Quoting message from Vert.x Discord:

To get started use the g8 template (maven and gradle will come shortly, the PR is waiting to be merged):
`sbt new vert-x3/vertx4-scala.g8`

[2021-09-14 21:22] demming commented on #83
Hi, any updates on this issue? Really looking forward to Scala 3 bindings with Vert.x 4. What's the sentiment right now and going forward? Any efforts being made to tackle it? Would gladly try to help if I knew where to start.

[2021-12-20 12:54] pmlopes opened #99 "CVE-2021-45105"
Fixed by: https://github.com/vert-x3/vertx-lang-scala/commit/133a7516fa0312d3177297d525a09619cbfe11de

[2021-12-20 12:54] #99 closed

[2022-04-12 20:02] codepitbull opened #104 "Support for Scala 3"
# Description

The current codebase must be adapted to work with Scala 3.

# Acceptance criteria

Everything we currently have is based on Scala 3.

[2022-04-12 20:04] codepitbull opened #105 "Add Maven quickstart to start.vertx.io"
## Description

We need to provide a Maven-quickstart to make it easier for new users to start using vertx-scala.

## Acceptance criteria

A full Maven-Vert.x-Scala-project can be generated on start.vertx.io

[2022-04-12 20:06] codepitbull opened #106 "Add Gradle quickstart for start.vertx.io"
## Description

We need to provide a Gradle-quickstart to make it easier for new users to start using vertx-scala.

## Acceptance criteria

A full Gradle-Vert.x-Scala-project can be generated on start.vertx.io

[2022-04-12 20:09] codepitbull opened #107 "Update vertx-scala.g8 to use the recent implementation"
## Description

sbt is still the canonical build system for Scala and we should provide a sbt-native way to bootstrap a project for it.
g8 is the established way to do so and qwe already have a project for it:
https://github.com/vert-x3/vertx-scala.g8

## Acceptance criteria

The following call should create a fresh Scla-Vert.x-SBT-project

`sbt new vert-x3/vertx4-scala.g8`

[2022-04-12 20:13] codepitbull opened #108 "Map Scala collections to Java collections and the other way round"
## Description

During our discussions we realized that with Scala 3 it is possible to do a lot of mapping with a minimum of allocation actually happening.
This makes it possible again to have full API-mappings.

Note:
Since converting Vert.x-objects is taken care of via implicit classes which eliminates the need for converting every object contained in the collections eagerly.

## Acceptance Crit

[2022-07-02 12:36] miteshaghera commented on #104
@codepitbull I would like to contribute for supporting scala 3 in vert.x 4. Have you started anything or is there any plan?

[2022-07-03 11:35] vietj commented on #104
@miteshaghera you should join the vertx discord server and get in touch in the scala channel to catch up the discussion